<h6 class="title-s7">CAR Markets</h6>
 <ul class="list-group list-group-flush">
   <li class="list-group-item"><a href="/market?c=<%=contractAddress.AddressContractSmartNFT%>">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      NFT CARs</a></li>
   <li class="list-group-item"><a href="/market?c=<%=contractAddress.AddressContractSmartNFT%>">

      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      NFT Accessories</a></li>
   <li class="list-group-item"><a href="/market?c=<%=contractAddress.AddressContractNFTItem%>">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      NFT EXP</a></li>
 </ul>
 <h6 class="title-s7">Opensea</h6>
 <ul class="list-group list-group-flush">
   <li class="list-group-item">Atrs</li>
   <li class="list-group-item">Pics</li>
   <li class="list-group-item">Music</li>
   <li class="list-group-item">Domain Names</li>
   <li class="list-group-item">Virtual Worlds</li>
 </ul>