<div class="wallet">
    <div class="container mb-3">
        <div class="row">
            <div class="col-6">
                <div class="card">
                <div class="card-body">
                <div class="icon-preview">
                    <div class="icon-wrap">
                        <em class="ikon ikon-wallet"></em>
                    </div>
                    <div class="icon-class">
                        <code class="walletaddress metaConnect">Connect</code>
                    </div>
                </div>
                </div>
                </div>
            </div>
            <div class="col-6">
                <div class="icon-preview">
                    <div class="icon-wrap">
                        <em class="ikon ikon-wallet-digital"></em>
                    </div>
                    <div class="icon-class">
                        <code><span class="balance">0</span> <%= token.name%></code>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>