<h1 class="title title-s2 text-white">Welcome to Start War</h1>
<div style="min-width:650px">
	<div class="row text-start">
		<div class="col-6 mb-4">
				<div class="card">
					<div class="card-body">
					Project Info
					</div>
				</div>
			
			
		</div>
		
		<div class="col-6  mb-4">
			<div class="card">
					<div class="card-body">
					Market
					</div>
				</div>
			
		</div>

		<div class="col-6  mb-4">
			<div class="card">
					<div class="card-body">
					Support
					</div>
				</div>
			
		</div>

		<div class="col-6  mb-4">
			<div class="card">
				<div class="card-body">
				Social
				</div>
			</div>
			
		</div>
	</div>
</div>