<h1 class="title title-s2 text-white">Welcome to Start War</h1>
<div class="row">
	<div class="col-4">
		<div class="classCard">
			<div class="child">
				<div><img src="/dist/game/0.png" style="width:100px;"></div>
				1 NFT<br>
				+ 3000 bullet
			</div>
			
		</div>
		<button class="btn btn-primary">Buy</button>
	</div>
	<div class="col-4">
		<div class="classCard">
			<div class="child">
				<div><img src="/dist/game/1.png" style="width:100px;"></div>
				1 NFT<br>
				+ 6000 bullet
			</div>
			
		</div>
		<button class="btn btn-primary">Buy</button>
	</div>
	<div class="col-4">
		<div class="classCard">
			<div class="child">
				<div><img src="/dist/game/2.png" style="width:100px;"></div>
				1 NFT<br>
				+ 9000 bullet
			</div>

		</div>
		<button class="btn btn-primary">Buy</button>
	</div>
</div>