<div style="max-width:650px;">

<div class="row">
    <div class="col-6 animated" data-animate="fadeInUp" data-delay=".65"><img src="/dist/game/vip1.png" style="width:100%"></div>
    <div class="col-6 animated" data-animate="fadeInUp" data-delay=".65"><img src="/dist/game/vip2.png"  style="width:100%"></div>
</div>

</div>

<h1 class="title title-s2 text-white">MarketPlace Battle</h1>
<div style="max-width:650px;">

<div class="row animated" data-animate="fadeInUp" data-delay=".85" id="LoadItem"></div>

</div>



<script>
$(document).ready(async function(){
    
    var LoadClass = async function(){
    await SmartApps.tokenGame1.Init();
        
       $("#LoadItem").html('<div class="preloader"><span class="spinner spinner-round"></span></div>');
        var html = '';
        var data = await SmartApps.tokenGame1.getMarketPlate(6);
        
        for(var i =0;i<data.length;i++){
          var img = data[i].class;
          var id = data[i].id;
          var bullet = data[i].bullet;
          var price = data[i].price;
          html += '<div class="col-md-4 mb-3 col-6"><div class="card-theme btnMint"  data-id="'+id+'"><div class="card-body"><img src="/nfts/'+img+'.png" style="width:100px;"><br>1 NFT<br>'+bullet+' Bullet<br>'+price+' <%=token.name%></div></div></div>';
        }
        
        
        $("#LoadItem").html(html);
    };
    await LoadClass();

    $(".btnMint").on("click", function(){
      var id = $(this).data("id");
      SmartApps.tokenGame1.buyMarketPlate(id);
  	});

    
  	

  	
});


</script>
