<h1 class="title title-s2 text-white">MarketPlace Battle</h1>
<div style="max-width:650px;">

<div class="row" id="LoadItem"></div>

</div>


<script>
$(document).ready(async function(){
    
    var LoadClass = async function(){
    await SmartApps.tokenGame1.Init();
        var html = '';
        var data = await SmartApps.tokenGame1.getMarketPlate(6);
        
        for(var i =0;i<data.length;i++){
          var img = data[i].class;
          var id = data[i].id;
          var bullet = data[i].bullet;
          var price = data[i].price;
          html += '<div class="col-md-4 mb-3 col-6"><div class="card-theme"><div class="card-body"><img src="/nfts/'+img+'.png" style="width:100px;"><br>1 NFT<br>'+bullet+' Bullet<br>'+price+' <%=token.name%><br><button class="btn btn-sm btn-round btn-outline btn-outline-info btnMint" data-id="'+id+'">BUY</button> </div></div></div>';
        }
        

        $("#LoadItem").html(html);
    };
    await LoadClass();

    $(".btnMint").on("click", function(){
      var id = $(this).data("id");
      SmartApps.tokenGame1.buyMarketPlate(id);
  	});

    
  	

  	
});


</script>