<style>
#game{
	position: fixed;
	top: 0;
	left: 130px;
}
@media (max-width: 500px) {
	#game{
		left: 0px;
	}
}
</style>
<div class="fontLoader" style='font-family: square'>.</div>
<div id="game"></div>

<script src="/dist/game/starsbattle/index.js?version=2"></script>