
<div class="fontLoader" style='font-family: square'>.</div>
<div id="game"></div>

<script src="/dist/game/starsbattle/index.js?version=<%=version%>"></script>



<script>
$(document).ready(async function(){
    
    var LoadClass = async function(){
    	await SmartApps.tokenGame1.Init();
    };
    await LoadClass();

    
    var dataBullet = await SmartApps.tokenGame1.getBulletMarket(6);
    
    var html = '';
    for(var i =0;i<dataBullet.length;i++){
        var id = Number(dataBullet[i].id);
        html += '<div class="col-4 btnBuyBulletExe" data-itemid="'+id+'"><img src="/nfts/bullet/'+id+'.gif" style="width:100%"><b>'+dataBullet[i].name+'</b><br>'+dataBullet[i].price+' <%=token.name%><br>Bullet : '+dataBullet[i].bullet+'</div>';
    }
    $(".modal-body .row").html(html);

    

   
    
    
});


</script>

<!-- Modal -->
<div class="modal fade" id="BulletModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sellect Bullet</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>