<h1 class="title title-s2 text-white">My Battlet</h1>

<div>



<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Battlet</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Bullet</button>
  </li>
  
</ul>
<div class="tab-content bg-white" id="myTabContent" style="min-width:550px; min-height:450px; padding-top:30px;" >
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row" id="LoadMyItem">
        

        
      </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  
</div>



</div>
<br>


<button class="btn btn-primary">Buy Battlet</button>
<button class="btn btn-outline-primary">Buy Bullet</button>
<a class="btn btn-outline-primary" href="/app/mining">Play game</a>
<button class="btn btn-outline-primary btnMint">Mint Test</button>
<script>
$(document).ready(async function(){
    
    var LoadClass = async function(){
    await SmartApps.tokenGame1.Init();
        var html = '';
        var data = await SmartApps.tokenGame1.getBalt();
        for(var i =0;i<data.length;i++){
          var img = data[i].Class;
          html += '<div class="col-md-4"><img src="/dist/game/'+img+'.png" style="width:100px;"></div>';
        }
        

        $("#LoadMyItem").html(html);
    };
    await LoadClass();

    $(".btnMint").on("click", function(){
      var randDom = Math.floor(Math.random() * 10);
      SmartApps.tokenGame1.mint(randDom);
  });
});


</script>