<h1 class="title title-s2 text-white">My Battle</h1>

<div style="min-width:750px;">



<div class="row" id="LoadMyItem"></div>

</div>
<br>


<a class="btn btn-primary" href="/app/marketplace">Buy Battlet</a>
<a class="btn btn-outline-primary" href="/app/mining">Play game</a>
<script>
$(document).ready(async function(){
    
    var LoadClass = async function(){
    await SmartApps.tokenGame1.Init();
        $("#LoadMyItem").html('<div class="preloader"><span class="spinner spinner-round"></span></div>');
        var html = '';
        var data = await SmartApps.tokenGame1.getBalt();
        for(var i =0;i<data.length;i++){
          var img = data[i].Class;
          html += '<div class="col-sm-3">';
          html += '          <div class="card">';
          html += '            <div class="card-body">';
          html += '              <img src="/nfts/'+img+'.png" style="width:100%; height:120px;">';
          html += '              <b>'+data[i].name+'</b><br>';
          html += '              Lever : '+data[i].Lever+'<br>';
          html += '              Bullet : '+data[i].Bullet+'<br>';
          html += '             <div class="btn-group" role="group">';
          html += '              <button class="btn btn-outline-info btn-sm btnBuyBullet" data-bs-toggle="modal" data-bs-target="#BulletModal" data-tokenid="'+data[i].tokenId+'"><i class="ti ti-shop"></i>Buy</button>';
          html += '              <button class="btn btn-outline-info btn-sm btnSellMarket" data-tokenid="'+data[i].tokenId+'"><i class="ti ti-shop"></i>Sell</button>';
          html += '            </div>';
          html += '            </div>';
          html += '          </div>';
          html += '</div>';
        }
        

        $("#LoadMyItem").html(html);
    };
    await LoadClass();

    $(".btnBuyBullet").on("click", function(){
        var tokenid = $(this).data("tokenid");
        
        $(".btnBuyBulletExe").attr("data-tokenid",tokenid);
    });

    var dataBullet = await SmartApps.tokenGame1.getBulletMarket(6);
    var html = '';
    for(var i =0;i<dataBullet.length;i++){
        html += '<div class="col-4 btnBuyBulletExe" data-itemid="'+(i+1)+'"><img src="/nfts/bullet/'+i+'.gif" style="width:100%"><b>'+dataBullet[i].name+'</b><br>'+dataBullet[i].price+' <%=token.name%><br>Bullet : '+dataBullet[i].bullet+'</div>';
    }
    $(".modal-body .row").html(html);

    $(".btnBuyBulletExe").on("click", function(){
        var tokenid = $(this).data("tokenid");
        var itemid = $(this).data("itemid");
        SmartApps.tokenGame1.buyBullet(tokenid,itemid,0);
    });


    
    
});


</script>

<!-- Modal -->
<div class="modal fade" id="BulletModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sellect Bullet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
