<!DOCTYPE html>
<html lang="en" class="js">
<head>
<meta charset="utf-8">
<title>Smart Token</title>
<link rel="stylesheet" href="/bootstrap.css">
<link rel="stylesheet" href="/admin.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript">
	var SmartApps = (function (jQ, win, doc){
    "use strict";
    var SmartApps = {AppInfo: {name: "SmartCrypto", package: "1.9.2", version: "1.0.4", author: "SmartCrypto"} };
    var components = {docReady: [], docReadyDefer: [], winLoad: [], winLoadDefer: []};

    jQ(doc).ready(docReady);
    jQ(win).on("load", winLoad);

    function docReady(stmt){
        stmt = (typeof stmt === typeof undefined) ? jQ : stmt;
        components.docReady.concat(components.docReadyDefer).forEach(function(component){ component(stmt); });
    }

    function winLoad(stmt){
        stmt = (typeof stmt === "object") ? jQ : stmt;
        components.winLoad.concat(components.winLoadDefer).forEach(function(component){ component(stmt); });
    }
    
    SmartApps.components   = components;
    SmartApps.docReady  = docReady;
    SmartApps.winLoad       = winLoad;

    return SmartApps;
}(jQuery, window, document));
</script>

</head>
<body>

	<header class="navbar navbar-expand-md navbar-dark bd-navbar" style="z-index:999999999;">
	<nav class="container-xxl flex-wrap flex-md-nowrap">
	  
	    <a class="navbar-brand" href="#">ADMINISTRATOR</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="/">Home</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" href="/oncepage">Main Page</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" href="/settings">Settings</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" href="/files">File Mamager</a>
	        </li>

	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Crypto
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="/token">Smart Token</a></li>
	            <li><a class="dropdown-item" href="/airdrop">Airdrop</a></li>
	            <li><a class="dropdown-item" href="/presell">Presell</a></li>
	            <li><a class="dropdown-item" href="/ido">IDO Solution</a></li>
	            <li><a class="dropdown-item" href="/farm">FARM</a></li>
	            <li><a class="dropdown-item" href="/staking">STAKING</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="/nft">NFT</a></li>
	            <li><a class="dropdown-item" href="/nftmarket">NFT Market</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="/game/stars">Game Stars</a></li>
	          </ul>
	        </li>

	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            DAPP
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	          	
	          	<li><a class="dropdown-item" href="/dapp/airdrop">Airdrop</a></li>
	            <li><a class="dropdown-item" href="/dapp/signals">Smart Signal</a></li>
	            <li><a class="dropdown-item" href="/dapp/smartbot">Smart Bot</a></li>
	            
	          </ul>
	        </li>

	      </ul>
	      <ul class="d-flex">
	        <li><a>Account</a></li>
	      </ul>
	    </div>
	 
	</nav>

</header>

<nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
  <div class="container-xxl d-flex align-items-md-center">
    <div class="bd-search position-relative me-auto">Login : <span class="walletaddress">0x</span></div>
    
    <div class="dropdown ms-3">
      <strong class="balance"></strong> <%= token.name%>
	  <button class="btn btn-bd-light dropdown-toggle" id="metaConnect" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
	    <span class="d-none d-lg-inline">Disconnect</span>
	  </button>
  
	</div>


    <button class="btn bd-sidebar-toggle d-md-none py-0 px-1 ms-3 order-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-expand" fill="currentColor" viewBox="0 0 16 16">
  <title>Expand</title>
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"></path>
</svg>

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-collapse" fill="currentColor" viewBox="0 0 16 16">
  <title>Collapse</title>
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"></path>
</svg>

    </button>
  </div>
</nav>

	<br>
<div class="container-xxl my-md-4 bd-layout">
    <aside class="bd-sidebar">
    </aside>
    <main class="bd-main order-1">
    	<%- body %>
    </main>
</div>
	<div class="container-fluid">
		
		
		<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
		  <div id="toast-container" class="toast toast-error toast-bottom-right hide toastr-bottom-right" role="alert"  data-autohide="true" data-delay="5000">
		    
		    <div class="toast-body toast-body toast-message">
		      Hello, world! This is a toast message.
		    </div>
		  </div>
		</div>


	</div>
	
	<script type="text/javascript" src="/web3admin.js?version=123"></script>
	<script type="text/javascript" src="/game1.js?version=123"></script>
	
</body>
</html>