<h4 class="contractaddress d-flex justify-content-between"></h4>
<hr>

<div class="card mb-3">
	<div class="card-body">
		<b>Subply Presell</b><br>
		<div class="input-group mt-3">
		  <input type="text" class="form-control" placeholder="Set price">
		  <span class="input-group-text" id="basic-addon2">Confirm</span>
		</div>
	</div>

</div>

<div class="card mb-3">
	<div class="card-body">
		<b>Set Price (Conver BNB)</b><br>
		<div class="input-group mt-3">
		  <input type="text" class="form-control" placeholder="Set price">
		  <span class="input-group-text" id="basic-addon2">Confirm</span>
		</div>
	</div>

</div>


<div class="card  mb-3">
	<div class="card-body">
		<b>Set Time Presell</b><hr>
		<div class="row">
			<div class="col-6">
				Time Start
				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Set price">
				  <span class="input-group-text" id="basic-addon2">Confirm</span>
				</div>
			</div>
			<div class="col-6">
				Time Stop
				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Set price">
				  <span class="input-group-text" id="basic-addon2">Confirm</span>
				</div>
			</div>
		</div>
		
	</div>

</div>


<div class="card mb-3">
	<div class="row">
			<div class="col-6">
				<div class="card-body">
					<b>Withdrawal</b><br>
					<div class="input-group mt-3">
					  <input type="text" class="form-control" placeholder="Set price">
					  <button class="input-group-text" id="presellwithdrawal">Confirm</button>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card-body">
					<b>withdrawNCF</b><br>
					<div class="input-group mt-3">
					  <input type="text" class="form-control" placeholder="Set price">
					  <button class="input-group-text" id="presellwithdrawalnft">Confirm</button>
					</div>
				</div>
			</div>
	</div>

</div>

<script>
	$(document).ready(function(){
		$("#presellwithdrawal").on("click", function(){
			SmartApps.tokenPresell.withdrawBNB();
		});
		$("#presellwithdrawalnft").on("click", function(){
			SmartApps.tokenPresell.withdrawNCF();
		});
		
	});
</script>