<section class="section">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-sm-9">
            <div class="text-center">
                <div class="countdown-s2 countdown-xl countdown-thin countdown mb-5" data-date="2021/08/10" data-min-text="Minutes" data-sec-text="Seconds"></div>
                <h2 class="title title-xl-s2 title-thin">We are launching soon please visit us after days</h2>
                
            </div>
        </div>
    </div>
</div>
</section>