
    <div class="container">
    	<h3>Gallery</h3>
    	<div class="card-columns">
    	  <% for(var i = 0; i < gallery.length; i++) {%>
		  <div class="card">
		    <img src="<%= gallery[i].url %>" class="card-img-top" alt="<%= gallery[i].name %>">
		    <div class="card-body">
		      <h5 class="card-title"><%= gallery[i].name %></h5>
		      <p class="card-text"><%= gallery[i].description %>.</p>
		    </div>
		  </div>
		  <% } %>
		</div>
    	
    </div>

