<%- include("./components/banner-pages.ejs",{name : "GAME PLAY", "description" : "Game play NFT"}) %>
<section class="bg-white bg-gameplay" style="min-height:650px;">

 	<div class="container-market">
        <div class="border border-danger rounded-circle s1">
        </div>

        <div class="border border-danger rounded-circle s2">
        </div>


        <div class="border border-danger rounded-circle s3">
        </div>


        <div class="border border-danger rounded-circle s4">
        </div>


        <div class="border border-danger rounded-circle s5">
        </div>



        <div class="border border-danger rounded-circle s6">
        </div>
    </div>
</section>

