<%- include("./components/banner-pages.ejs",{name : "NFT MARKET", "description" : "Support CAR NFT and more contract NFT"}) %>
<section class="bg-white">

 	<div class="container-fluid">
      
       <div class="row">
              
              <div class="col-md-2 col-xs-12">
                     <%- include("components/categories.ejs") %>
              </div>

              <div class="col-md-10 col-xs-12">
                     <div class="d-flex justify-content-between">
                     <div>
                            <div class="form-group form-group-lg has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control form-control-lg" placeholder="Search">
                            </div>
                     </div>
                      <div> <a href="/farm" class="btn btn-info">Join S3 Game Reward NFT</a> <a href="/account" class="btn btn-primary btn-sell">Sell</a></div>
                      </div>
                     <hr>
                     <div data-mainmarket="true" style="min-height:650px;">
                     
                     </div>
              </div>
       </div>
 		
 	</div>
</section>
