
<section class="section bg-theme tc-light">
    <div class="container">
    <h1>Token Info</h1>
        <div class="nk-block">
            <div class="row align-items-center gutter-vr-50px">
                <div class="col-xxl-4 col-lg-6 px-xl-5 order-xl-1">
                    <canvas class="chart-canvas" id="token-distribution-03"></canvas>
                </div>
                <div class="col-xxl col-lg-6">
                    <ul class="chart-data-s2 row" data-canvas="token-distribution-03" data-canvas-type="pie" data-border-color="#122272">
                        <li class="col-sm-8" data-color="#b9d2f4" data-color-hover="#16a3fe" data-label="Public Sale" data-title="Tokens alocate for Public Sale" data-subtitle="(Lockup)" data-amount="45"></li>
                        <li class="col-sm-8" data-color="#b9d2f4" data-color-hover="#16a3fe" data-label="Private Sale" data-title="Tokens alocate for Private Sale" data-subtitle="(1 month lockup for half bonus)" data-amount="25"></li>
                        <li class="col-sm-6" data-color="#b9d2f4" data-color-hover="#16a3fe" data-label="Reserve Fund" data-title="Reserve Fund" data-subtitle="(6 months lockup)" data-amount="8"></li>
                        <li class="col-sm-6" data-color="#b9d2f4" data-color-hover="#16a3fe" data-label="Team & Founder" data-title="Team & Founder" data-subtitle="(3 months lockup)" data-amount="12"></li>
                        <li class="col-sm-6" data-color="#b9d2f4" data-color-hover="#16a3fe" data-label="Bounty & Events" data-title="Bounty & Events" data-subtitle="(1 months lockup)" data-amount="6"></li>
                        <li class="col-sm-6" data-color="#b9d2f4" data-color-hover="#16a3fe" data-label="Advisors & Partners" data-title="Advisors & Partners" data-subtitle="(6 months lockup)" data-amount="4"></li>
                    </ul>
                </div>
                <div class="col-xxl col-xl-12 order-last">
                    <div class="token-info-s2">
                        <div class="row gutter-vr-50px">
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-1">
                                    <div class="token-info-title">Start Time</div>
                                    <h4 class="token-info-des">15 Sep, 2018</h4>
                                </div>
                            </div>
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-1">
                                    <div class="token-info-title">Token Symbol</div>
                                    <h4 class="token-info-des">ICOX</h4>
                                </div>
                            </div>
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-2">
                                    <div class="token-info-title">End Time</div>
                                    <h4 class="token-info-des">30 Nov, 2018</h4>
                                </div>
                            </div>
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-2">
                                    <div class="token-info-title">Tokens Offered</div>
                                    <h4 class="token-info-des">15.0 M</h4>
                                </div>
                            </div>
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-3">
                                    <div class="token-info-title">Soft Cap</div>
                                    <h4 class="token-info-des">1.5 K</h4>
                                </div>
                            </div>
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-3">
                                    <div class="token-info-title">Soft Cap</div>
                                    <h4 class="token-info-des">1.5 K</h4>
                                </div>
                            </div>
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-4">
                                    <div class="token-info-title">Crowdsale</div>
                                    <h4 class="token-info-des">10.5 M</h4>
                                </div>
                            </div>
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-4">
                                    <div class="token-info-title">Crowdsale</div>
                                    <h4 class="token-info-des">10.5 M</h4>
                                </div>
                            </div>
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-5">
                                    <div class="token-info-title">Hard Cap</div>
                                    <h4 class="token-info-des">12.0 M</h4>
                                </div>
                            </div>
                            <div class="col-6 col-xxl-6 col-lg-3">
                                <div class="token-info-item color-5">
                                    <div class="token-info-title">Hard Cap</div>
                                    <h4 class="token-info-des">12.0 M</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .block @e -->
    </div>
    <div class="bg-image" data-overlay="theme" data-opacity="95">
        <img src="images/bg/bg-a.jpg" alt="background">
    </div>
</section>